<p-toast></p-toast>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="sesionService.objServiceSesion.esLogueado" class="col-md-3">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#">
                            <i class="ti-user"></i>
                            <p> {{sesionService.objServiceSesion.usuarioSesion.name}}
                                {{sesionService.objServiceSesion.usuarioSesion.lastName}}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div *ngIf="sesionService.objServiceSesion.esLogueado" class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p-button styleClass="m-4" icon="pi pi-lock" (click)="cerrarSesion()" label="Salir"></p-button>
                    </li>
                </ul>
            </div>
            <div *ngIf="!sesionService.objServiceSesion.esLogueado" class="col-md-12">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="m-4 col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control border-input" autocomplete="off"
                                    placeholder="{{msg.lbl_forms_email}}" [(ngModel)]="mail">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="m-4 col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control border-input" autocomplete="off"
                                    placeholder="{{msg.lbl_forms_password}}" [(ngModel)]="password">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p-button styleClass="m-4" icon="pi pi-key" (click)="login()" label="Login"></p-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- End Navbar -->